*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #02529B;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 위치 */
.head, .head div, .face div, .body div {
    transition: .5s;
}
.miffy.entry{
    margin: 100px auto;
    transform: scale(0.5) translateY(-50%);
    width: 590px;
    height: 990px;
}

.miffy.head {
    width: 476px;
    height: 678px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.miffy.body {
    width: 590px;
    height: 424px;
    margin: -110px auto 0;
    position: relative;
    z-index: -1;
}

/* 얼굴 */
.miffy .face {
    position: absolute;
    bottom: 0;
    width: 476px;
    height: 402px;
    border-radius: 203px;
    border: 13px solid #000;
    background-color: #fff;
    z-index: 0;
}

/* 귀와 얼굴의 경계선 없애기 */
.miffy .face::before {
    content: "";
    position: absolute;
    left: 106px;
    top: -23px;
    width: 110px;
    height: 94px;
    background-color: #fff;
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
    z-index: 1;
}

.miffy .face::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 92px;
    width: 110px;
    height: 94px;
    background-color: #fff;
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}

/* 귀 */
.miffy .ear {
    position: absolute;
    border: 13px solid #000;
    border-radius: 100%;
    background-color: #fff;
}

.miffy .ear.left {
    top: 0;
    width: 163px;
    height: 368px;
    left: 70px;
    transform: rotate(-7deg);
}

.miffy .ear.right {
    top: 12px;
    width: 160px;
    height: 359px;
    right: 57px;
    transform: rotate(8deg);
}

/* 눈 */
.miffy .eye {
    position: absolute;
    width: 23px;
    height: 28px;
    border-radius: 100%;
    background-color: #000;
}

.miffy .eye.left {
    bottom: 149px;
    left: 103px;
}

.miffy .eye.right {
    bottom: 139px;
    right: 117px;
}

/* 입 */
.miffy .mouth {
    position: absolute;
    background-color: #000;
}
.mouth_group{position: absolute; bottom: 10px;}

.miffy .mouth.left {
    width: 58px;
    height: 13px;
    border-radius: 50px;
    bottom: 67px;
    left: 204px;
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
}

.miffy .mouth.right {
    width: 61px;
    height: 13px;
    border-radius: 6px;
    bottom: 68px;
    left: 201px;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
}

/* 팔다리 */
.miffy .hand,
.miffy .foot {
    border: 13px solid #000;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    z-index: -10;
}

.miffy .hand.left {
    width: 117px;
    height: 112px;
    left: 0;
    top: 135px;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.miffy .hand.right {
    width: 125px;
    height: 110px;
    right: 0;
    top: 125px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.miffy .foot {
    width: 158px;
    height: 90px;
    bottom: 0;
}

.miffy .foot.left {
    border-radius: 45px 0 48px 45px;
    left: 145px;
    -webkit-transform-origin: 53px 100%;
    transform-origin: 53px 100%;
}

.miffy .foot.right {
    border-radius: 0 45px 45px 48px;
    right: 140px;
    -webkit-transform-origin: 100px 100%;
    transform-origin: 100px 100%;
}

/* 옷 */
.cloth {
    border: 13px solid #000;
    background-color: #ec6726;
    position: absolute;
}

.cloth.shoulder {
    width: 510px;
    height: 257px;
    border-radius: 50%;
    left: 39px;
    top: 0;
}

.cloth.arm {
    border-radius: 23px;
}

.cloth.arm.left {
    width: 138px;
    height: 130px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 74px;
    left: 27px;
}

.cloth.arm.right {
    width: 114px;
    height: 134px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    top: 72px;
    right: 41px;
}

.cloth.skirt {
    width: 465px;
    height: 200px;
    border-radius: 100%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    bottom: 65px;
    left: 53px;
}

.cloth.waist.left {
    width: 140px;
    height: 99px;
    -webkit-transform: perspective(10px) rotateX(1deg);
    transform: perspective(10px) rotateX(1deg);
    left: 11px;
    margin: 50px;
    top: 100px;
}

.cloth.waist.right {
    width: 381px;
    height: 116px;
    top: 153px;
    right: 72px;
}

/* 옷라인가리기 */
.cloth.arm::before {
    border-radius: 21px;
}

.cloth.arm.left::before {
    background-color: #ec6726;
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -21px;
    left: 0px;
}

.cloth.arm.right::before {
    background-color: #ec6726;
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 9px;
}

.cloth.waist.left::before {
    background-color: #ec6726;
    content: "";
    position: absolute;
    width: 140px;
    height: 99px;
    top: -13px;
    left: -2px;
}

.cloth.waist.right::before {
    background-color: #ec6726;
    content: "";
    position: absolute;
    width: 381px;
    height: 121px;
    top: -17px;
    right: -1px;
}
.cloth.skirt:after{
    content: "";
    background-color: #ec6726;
    position: absolute;
    width: 427px;
    height: 110px;
    bottom: 153px;
    left: 6px;
}

/* 호버효과 */
.miffy.entry:hover .head {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
}

.miffy.entry:hover .eye.left {
    -webkit-transform: scale(1.5, 0.4) translateY(30px) translateX(5px);
    transform: scale(1.5, 0.4) translateY(30px) translateX(5px);
    border-radius: 0;
}


.miffy.entry:hover .mouth_group {
    -webkit-transform: rotate(5deg) translate(-10px, -20px);
    transform: rotate(5deg) translate(-10px, -20px);
}

.miffy.entry:hover .hand.left{
    transform: rotate(83deg) translate(-140px, 5px);
}

.miffy.entry:hover .hand.right{
    transform: rotate(-91deg)translate(126px,15px);
}

.miffy.entry:hover .waist.right {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
}
.miffy.entry:hover .shoulder{
    -webkit-transform: translateY(-11px) scale(0.9);
    transform: translateY(-11px) scale(0.9);
}
.miffy.entry:hover .arm.left{
    -webkit-transform: rotate(115deg) translate(-50px, 30px);
    transform: rotate(115deg) translate(-50px, 30px);
}

.miffy.entry:hover .arm.right{
    -webkit-transform: rotate(-35deg) translate(45px, -45px);
    transform: rotate(-35deg) translate(45px, -45px);
}

.miffy.entry:hover .skirt{
    -webkit-transform: rotate(3deg) translateY(-11px);
    transform: rotate(3deg) translateY(-11px);
}

.miffy.entry:hover .waist.left{
    -webkit-transform: perspective(10px) rotateX(1deg)translateY(-11px);
    transform: perspective(10px) rotateX(1deg)translateY(-11px);
}
.miffy.entry:hover .foot.left {
    -webkit-transform: rotate(-8deg) translate(10px, -10px);
    transform: rotate(-8deg) translate(10px, -10px);
}

.miffy.entry:hover .foot.right {
    -webkit-transform: rotate(11deg) translate(-10px, -10px);
    transform: rotate(11deg) translate(-10px, -10px);
}
/* 호버효과-텍스트 */
